.acesso-container{
    background-image: url(../assets/Backgrounds/bgLogin.png);   
    background-size: cover;  /* Essa maravilha faz a imagem cobrir todo o site */       
    background-position: center;  /* Deixa a posição da imagem de fundo no centro */
    background-attachment: fixed;    /* Faz ela ficar presa */
    
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */ /* Isso aqui serve pra esconder o scroll */
    position: relative;


    margin: 0;
}


.logo {
    width: 20rem;
    height: 10rem;
    margin-top: 2rem;
}

.caixa{
    height: 20rem;
    width: 25rem;
    margin-top: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}