.caixaLogin {
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    border-style: solid;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-family: 'Inter', sans-serif;
}

.caixaLogin h3 {
    font-size: 2rem;
    font-weight: 1000;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}

.inputs input {
    font-size: 1rem;
    border: none;
    border-bottom: 0.15rem solid black;
    outline: none;
    background: transparent;
    padding-bottom: 0.5rem;
}

.input-senha {
    position: relative;
    display: flex;
    align-items: center;
}

.input-senha input {
    width: 100%;
}

.input-senha .verSenha {
    position: absolute; 
    cursor: pointer;  /* Muda o cursor para a mãozinha apontando */
    user-select: none; /* Não permite o cara selecionar (deixar azul) */
    color: #000000;
    right: 0.2rem;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}


.caixaLogin .resetSenha{
    width: 90%;
    text-align: right;
    margin-bottom: 1.5rem;
}

.botao {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 1000;
    background-color: #FFAE52;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.8rem;
    border-color: #000000;
    border-style: solid;
    border-width: 0.15rem;
}

.linkCadastro {
    margin-top: 1rem;
    width: 90%;
    text-align: left;
}