.corpo-container{
    background-image: linear-gradient(rgba(55, 51, 51, 0.5), rgba(55, 51, 51,0.5)), url(../assets/backgrounds/bgHome.svg);
    background-size: cover;  /* Essa maravilha faz a imagem cobrir todo o site */       
    background-position: center;  /* Deixa a posição da imagem de fundo no centro */
    background-attachment: fixed; /* Faz ela ficar presa */
    
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Isso aqui serve pra esconder o scroll */
    justify-content: center;
}

.corpo-container-preto{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/backgrounds/bgHome.svg);
    background-size: cover;  /* Essa maravilha faz a imagem cobrir todo o site */       
    background-position: center;  /* Deixa a posição da imagem de fundo no centro */
    background-attachment: fixed; /* Faz ela ficar presa */
    
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Isso aqui serve pra esconder o scroll */
    justify-content: center;
}

.display{
    background-image: url(../assets/placaMadeiraFundo.png);
    background-size: cover;
    width: 100%;
    height: 100rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Isso aqui serve pra esconder o scroll */
    justify-content: center;
}

.display-preto{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/placaMadeiraFundo.png);
    background-size: cover;
    width: 100%;
    height: 100rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Isso aqui serve pra esconder o scroll */
    justify-content: center;
}