*,
*::before,
*::after{
    font-family: 'Fondamento', 'fantasy';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo-container {
    background-image: linear-gradient(rgba(55, 51, 51, 0.5), rgba(55, 51, 51, 0.5)), url(../assets/backgrounds/bgHome.svg);
    background-size: cover;
    /* Essa maravilha faz a imagem cobrir todo o site */
    background-position: center;
    /* Deixa a posição da imagem de fundo no centro */
    background-attachment: fixed;
    /* Faz ela ficar presa */

    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    /* Isso aqui serve pra esconder o scroll */
    overflow: hidden;
    
    justify-content: center;
}


.conteudo-principal {
    width: 10rem;
    min-height: 43rem;
    background-image: url(../assets/backgrounds/displayMadeira.svg);
    background-size: 100% 100%;
    width: 115rem;

    display: flex;
    align-items: center;
    flex-direction: column;

     /* Isso aqui serve pra esconder o scroll */
    overflow: hidden;
   
    justify-content: center;
}

.opcoes {
    width: 60rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 10rem 0rem 2rem 0rem;
}

.opcoes button{
    flex: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 2rem;
    color: white;
    height: 100%;
    position: relative;
}

.opcaoAtiva{
    background-image: url("../assets/backgrounds/tabuaLabel.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.opcoes button:active {
  transform: scale(0.97);
}

.listaRatos{
    width: 30rem;
    height: auto;
    box-sizing: border-box;
}

.displayRato{
    min-width: 30%;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/backgrounds/papelLabelAmarelado.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0rem 1.5rem 0rem 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.addBatalha{
    width: 20rem;
    z-index: 1000;
}

.listaBatalhas{
    width: 45%;
    height: 20rem;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.batalha{
    width: 87%;
    height: 12rem;
    background-image: url("../assets/backgrounds/papelLabelBatalha.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem 2rem;
    font-size: 1.3rem;
}

.batalha p{
    margin-bottom: 1rem;
}

.batalha p+p{
    margin:0;
}

.infoBatalha{
    width: 40rem;
    margin-right: 6rem;
}

.opcoesBatalha{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.opcoesBatalha button{
    width: 10rem;
    height: 3.5rem;
    background-image: url("../assets/buttons/btnParticiparBatalha.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
}

.opcoesBatalha button+button{
 background-image: url("../assets/buttons/btnAssistirBatalha.png");
}