.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5rem;       
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Fondamento', 'cursive';
    z-index: 1;
}

.nomeFotoPlayer {
    display: flex;
    align-items: center;
}

.nomeFotoPlayer h1 {
    margin-left: 1.5rem;
    font-size: 30px;
}

.nomeFotoPlayer img {
    height: 4rem;
    margin-left: 2rem;
}

.quantidadeMoedas{
    width: 100px;
    height: 50px;
    background-color: orange;
    border-radius: 28px;
    margin-left: rem;
    margin-top: 8rem;
}

.mouseCoin{
    height: 3rem;
}

img {
    height: 6rem;
    margin-right: 1rem;
}

div +   img{
    height: 4rem;
}