.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Fondamento', 'cursive';
    z-index: 1;
}

.nomeFotoPlayer {
    display: flex;
    align-items: center;
}

.nomeFotoPlayer h3 {
    margin-left: 1rem;
}

.nomeFotoPlayer img {
    height: 7rem;
}

img {
    height: 6rem;
    margin-right: 1rem;
}