.login-container{
    background-image: url(../assets/paredePedraLogin.png);   
    background-size: cover;  /* Essa maravilha faz a imagem cobrir todo o site */       
    background-position: center;  /* Deixa a posição da imagem de fundo no centro */
    background-attachment: fixed;    /* Faz ela ficar presa */
    
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */ /* Isso aqui serve pra esconder o scroll */

    margin: 0;
}


.logo {
    width: 20rem;
    height: 10rem;
    margin-top: 4rem;
}

.caixa{
    height: 20rem;
    width: 25rem;
    margin-top: 3rem;
}