.bgModal {
    /* Torna o overlay de tela inteira */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    /* Serve pra deixar o fundo semi-transparente e preto */
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    /* Deixar acima dos componentes */
}

.containerModal {   
    background-image: linear-gradient(rgba(79, 81, 83, 0.3), rgba(79, 81, 83, 0.3)), url('../assets/backgrounds/bgLogin.png');
    background-size: cover;
    border-radius: 1rem;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    text-align: center;
    font-family: 'Fondamento', 'fantasy';
    font-weight: lighter;

    /* Deixar a posição do butão 'sair' certa */
    position: relative;

    /* Pro conteúdo ficar organizado*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    height: 3.5rem;
    width: 20rem;
    padding: auto;
    margin: 1.5rem 5rem;
    background-image: url('../assets/backgrounds/tabuaLabel.svg');
    background-size: cover;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-shadow:
    0 0 3px #000,
    0 0 6px #000,
    0 0 8px #000;
}

button {
    cursor: pointer;
    user-select: none;
    font-family: 'Fondamento', 'fantasy';
}


.addRato{
    color: white;
    background-color: #FFAE52;
    width: 14rem;
    height: 5rem;
    border-radius: 20px;
    border: 3px solid #000 ;
    font-size: x-large;
}

div {
    user-select: none;
}

.sair {
    background-color: transparent;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    font-size: 3.5rem;
    color: white;
    border: none;
}

.opcoesClasse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.opcoesClasse button {
    background-image: url('../assets/backgrounds/papelLabel.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18rem;
    height: 4rem;
    margin: 0.7rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.detalhes-conteudo {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputEFoto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomeRato {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.nomeRato input {
    width: 95%;
    height: 3rem;
    border-color: black;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    outline: none;
    background-color: white;
    font-family: 'Fondamento', 'fantasy';
    font-size: 2rem;
    padding-left: 1rem;
}

.inputEFoto .simboloEditar {
    position: absolute;
    user-select: none;
    color: black;
    right: 1rem;
    font-size: 1.5rem;
}

.inputEFoto img {
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.descRato {
    max-width: 98%;
    min-height: 3rem;
    padding: 0.5rem 0rem;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    font-size: 1.2rem;
}

.slctHabilidade {
    font-size: 1.8rem;
    color: white;
    margin: 1.5rem 0rem 1rem
}

.opcoesHabilidade {
    width: 99%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.opcoesHabilidade button {
    width: 8rem;
    height: 3rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    color: white;
    font-size: 1rem;
    font-family: 'Fondamento', 'fantasy';
    background-color: rgb(79, 81, 83);
}

.opcoesHabilidade .btnAtivo {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: #000000;
    border-width: 0.20rem;
    border-style: solid;
}

.descHabilidade {
    max-width: 98%;
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 1rem 0rem 0rem 0rem;
    padding: 0rem 0.5rem;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    font-size: 1rem;
}

.socorro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.btnFinalizar {
    font-family: 'Fondamento', 'fantasy';
    font-size: 1.5rem;
    font-weight: 1000;
    background-color: #FFAE52;
    margin: 0.7rem 0rem 0.5rem 0rem;
    padding: 0.3rem 2rem;
    border: 0.15rem solid #000000;
    border-radius: 0.8rem;
    cursor: pointer;
}

.custo {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1;
    right: 0;
    gap: 0.3rem
}

.custo img {
    align-items: end;
    align-self: flex-end;
    width: 4rem;
    height: 4rem;
    margin: 0;
}

.custo p {
    color: white;
    margin: 0;
    font-size: 3rem;
    margin-bottom: 0.2rem;
}

.imagemENome {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
    margin: 1rem 0rem 1rem 0rem;
}

.imagemENome img {
    width: 8rem;
    height: 8rem;
    margin: 0;
}

.imagemENome p {
    width: 19rem;
    height: 6rem;
    margin: 0;
    background-image: url("../assets/backgrounds/pedraLabel.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: wheat;
}

.infoGeral {
    width:95%;
    min-height: 42%;
    background-image: url("../assets/backgrounds/displayMadeira2.png");
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 1rem 0rem 1rem 0rem;
}

.conteinerTitusEstHabil{
    width: 100%;
    min-height: 100%;
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    box-sizing: border-box;
}

.titusEstHabil{
    width: 100%;
    min-height: 2.2rem;
    background-image: url("../assets/backgrounds/tabuaLabel.svg");
    background-size: 100% 100%;
    margin: 0rem 0rem 0.5rem 0rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaEstatisticas,
.caixaHabilidadeEsc {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
}

.caixaHabilidadeEsc{
    margin-right: 0.5rem;
}

.caixaEstatisticas{
    margin-left: 0.5rem;
}

.estatisticas{
    background-image: url("../assets/backgrounds/papelLabelPregos.png");
    background-size: 100% 100%;
    width: 80%;
    min-height: 8rem;
    margin: 0;
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 1rem;
    box-sizing: border-box;
}

.descHabilEsc{
    width: 95%;
    height: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("../assets/backgrounds/papelLabelPregos.png");
    background-size: 100% 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0rem 0rem 0rem 0rem;
    box-sizing: border-box;
}