.bgSelcClass{
    /* Torna o overlay de tela inteira */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    
    /* Serve pra deixar o fundo semi-transparente e preto */
    background-color: rgba(0, 0, 0, 0.8); 
    
    display: flex;
    justify-content: center; 
    align-items: center;
    
    z-index: 1000; /* Deixar acima dos componentes */
}

.containerSelcClass {
    background-image: linear-gradient(rgba(79, 81, 83, 0.3), rgba(79, 81, 83, 0.3)),url('../assets/backgrounds/bgLogin.png');
    background-size: cover;
    border-radius: 1rem;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    text-align: center;
    font-family: 'Fondamento', 'fantasy';
    font-weight: lighter;
    
    /* Deixar a posição do butão 'sair' certa */
    position: relative; 
    
    /* Pro conteúdo ficar organizado*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    height: 3.5rem;
    width: 20rem;
    padding: auto;
    margin: 1.5rem 5rem;
    background-image: url('../assets/backgrounds/tabuaLabel.svg');
    background-size: cover;
    text-align: center;
    color: white;
    user-select: none;
}

button{
    cursor: pointer;
    user-select: none;
    font-family: 'Fondamento', 'fantasy';
}

div{
    user-select: none;
}

.titulo h1{
    margin: 0;
    padding: 0.5rem;
}

.sair{
    background-color: transparent;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    font-size: 3.5rem;
    color: white;
    border: none;
}

.opcoesClasse{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.opcoesClasse button{
    background-image: url('../assets/backgrounds/papelLabel.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18rem;
    height: 4rem;
    margin: 0.7rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}

.detalhes-conteudo{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputEFoto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomeRato{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.nomeRato input{
    width: 95%;
    height: 3rem;
    border-color: black;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    outline: none;
    background-color: white;
    font-family: 'Fondamento', 'fantasy';
    font-size: 2rem;
    padding-left: 1rem;
}

.inputEFoto .simboloEditar{
    position: absolute;
    user-select: none;
    color: black;
    right: 1rem;
    font-size: 1.5rem;
}

.inputEFoto img{
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.descRato{
    max-width: 98%;
    min-height: 3rem;
    padding: 0.5rem 0rem;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    font-size: 1.2rem;
}

.slctHabilidade{
    font-size: 1.8rem;
    color: white;
    margin: 1.5rem 0rem 1rem
}

.opcoesHabilidade{
    width: 99%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.opcoesHabilidade button{
    width: 8rem;
    height: 3rem;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    color: white;
    font-size: 1rem;
    font-family: 'Fondamento', 'fantasy';
    background-color: rgb(79,81,83);
}

.opcoesHabilidade .btnAtivo{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: #000000;
    border-width: 0.20rem;
    border-style: solid;
}

.descHabilidade{
    max-width: 98%;
    height: 5rem;
    display: flex;
    align-items: center;
    margin: 1rem 0rem 0rem 0rem;
    padding: 0rem 0.5rem;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.20rem;
    font-size: 1rem;
}

.socorro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.socorro button{
    font-family: 'Fondamento', 'fantasy';
    font-size: 1.5rem;
    font-weight: 1000;
    background-color: #FFAE52;
    margin: 0.7rem 0rem 0.5rem 0rem;
    padding: 0.3rem 2rem;
    border: 0.15rem  solid  #000000;
    border-radius: 0.8rem ; 
    cursor: pointer;
}

.custo{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1;
    right: 0;
    gap: 0.3rem
}

.custo img{
    align-items: end;
    align-self: flex-end;
    width: 4rem;
    height: 4rem;
    margin: 0;
}

.custo p{
    color: white;
    margin: 0;
    font-size: 3rem;
    margin-bottom: 0.2rem;
}