.bgModal {
    /* Torna o overlay de tela inteira */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    /* Serve pra deixar o fundo semi-transparente e preto */
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    /* Deixar acima dos componentes */
}

.containerModal {   
    background-image: linear-gradient(rgba(79, 81, 83, 0.3), rgba(79, 81, 83, 0.3)), url('../assets/backgrounds/bgLogin.png');
    background-size: cover;
    border-radius: 1rem;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    text-align: center;
    font-family: 'Fondamento', 'fantasy';
    font-weight: lighter;

    /* Deixar a posição do butão 'sair' certa */
    position: relative;

    /* Pro conteúdo ficar organizado*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    height: 3.5rem;
    width: 20rem;
    padding: auto;
    margin: 1.5rem 5rem;
    background-image: url('../assets/backgrounds/tabuaLabel.svg');
    background-size: cover;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-shadow:
    0 0 3px #000,
    0 0 6px #000,
    0 0 8px #000;
}

.listaRatosBatalhar{
    margin-top: 4rem;
    width: 26rem;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.displayRatoBatalhar{
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/backgrounds/papelLabelAmarelado.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 0rem 0.5rem 0rem 2rem;
    font-size: 2rem;
    border: none;
    background-color: transparent;
}