.containerModalFotos {
    background-image: linear-gradient(rgba(79, 81, 83, 0.3),
            rgba(79, 81, 83, 0.3)),
        url("../../assets/backgrounds/bgLogin.png");
    background-size: cover;
    border-radius: 1rem;
    width: 50rem;
    height: 40rem;
    text-align: center;
    font-family: "Fondamento", "fantasy";
    font-weight: lighter;

    position: relative;
    padding: 0rem 1.5rem 1.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: scale(1.35);
    transition: transform 0.3s ease;
}

.titModalOpcFoto {
    min-height: 3.5rem;
    width: 27rem;
    padding: auto;
    margin: 1.5rem 5rem;
    background-image: url("../../assets/labels/lblTabua.png");
    background-size: 100% 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

.listaFotosPerfil {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.fotoPerfil,
.fotoPerfilSelc {
    width: 9rem;
    height: 9rem;
    padding: 0.8rem;
}

.fotoPerfil img,
.fotoPerfilSelc img {
    width: 100%;
    height: 100%;
    border: 0.1rem solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px #000, 0 0 10px #000, 0 0 8px #000;
}

.fotoPerfilSelc img {
    box-shadow: 0 0 10px #2bff00, 0 0 10px #2bff00, 0 0 8px #2bff00;
}

.fotoPerfil:hover,
.fotoPerfilSelc:hover {
    cursor: pointer;
    padding: 0rem;
    transition: transform 5s ease;
}

@media(max-height: 900px) {
    .containerModalFotos {
        height: 30rem;
    }

    .listaFotosPerfil {
        margin-top: 0rem;
        padding-top: 1rem;
        overflow-y: auto;
    }
}

@media(max-height: 670px) {
    .containerModalFotos {
        height: 20rem;
    }

    .listaFotosPerfil {
        margin-top: 0rem;
        padding-top: 1rem;
        overflow-y: auto;
    }
}

@media (max-width: 1130px) {
    .containerModalFotos {
        width: 35rem;
    }

    .listaFotosPerfil {
        margin-top: 0rem;
        padding-top: 1rem;
        overflow-y: auto;
    }
}

@media (max-width: 780px) {
    .containerModalFotos {
        width: 25rem;
    }

    .titModalOpcFoto {
        width: 20rem;
        margin: 1.5rem;
        margin-right: 5rem;
        font-size: 1.5rem;
    }

    .listaFotosPerfil {
        margin-top: 0rem;
        padding-top: 1rem;
        overflow-y: auto;
    }
}

@media (max-width: 575px) {
    .containerModalFotos {
        width: 20rem;
    }

    .titModalOpcFoto {
        width: 15rem;
        margin: 1.5rem;
        margin-right: 5rem;
        font-size: 1.2rem;
    }

    .listaFotosPerfil {
        margin-top: 0rem;
        padding-top: 1rem;
        overflow-y: auto;
    }

    .fotoPerfil,
    .fotoPerfilSelc {
        width: 7rem;
        height: 7rem;
        padding: 0.8rem;
    }
}

@media (max-width: 455px) {
    .containerModalFotos {
        width: 15rem;
    }

    .titModalOpcFoto {
        width: 10rem;
        margin: 1.5rem;
        margin-right: 5rem;
        font-size: 1.2rem;
    }

    .fotoPerfil,
    .fotoPerfilSelc {
        width: 9rem;
        height: 9rem;
        padding: 0.8rem;
    }
}