.bgEscuroOff,
.bgEscuroOn {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  opacity: 0;
}

.bgEscuroOff {
  opacity: 0;
  visibility: hidden;
}

.bgEscuroOn {
  opacity: 1;
  visibility: visible;
}

.bgEscuroOn .modalResultado {
  animation: modalAparecendo 500ms ease-in-out forwards;
}

@keyframes modalAparecendo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modalResultado {
  width: 45rem;
  height: 55rem;
  background-image: linear-gradient(
      rgba(79, 81, 83, 0.3),
      rgba(79, 81, 83, 0.3)
    ),
    url("../../assets/backgrounds/bgBatalhaMenor.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  border-radius: 1rem;

  text-align: center;
  font-family: "Fondamento", "fantasy";
  font-weight: lighter;

  /* Deixar a posição do butão 'sair' certa */
  position: relative;

  /* Pro conteúdo ficar organizado*/
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: scale(0.95);
  transition: transform 0.3s ease;

  box-sizing: border-box;

  padding: 2rem 1rem 1rem 1rem;

  transition: opacity 500s ease, visibility 500s ease;
}

.tituloResultado {
  width: 30rem;
  height: 5rem;
  color: yellow;
  font-size: 3rem;
  background-image: url("../../assets/backgrounds/tabuaLabel.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0rem 0rem 1rem black, 0rem 0rem 1rem black, 0rem 0rem 1rem black;
}

.Vitoria,
.Derrota {
  width: 25rem;
  height: 25rem;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.Vitoria {
  background-image: url("../../assets/icones/IconeVitoria.png");
}

.Derrota {
  background-image: url("../../assets/icones/IconeDerrota.png");
}

.Vitoria h2,
.Derrota h2 {
  margin: 5rem 0.5rem 0rem 0rem;
  font-size: 1.7rem;
  color: white;
  text-shadow: 0.3rem 0.3rem 0.2rem black, 0.3rem 0.3rem 0.2rem black,
    0.3rem 0.3rem 0.2rem black;
}

.Vitoria input,
.Derrota input {
  font-size: 2rem;
}

.Vitoria button,
.Derrota button {
  font-size: 2rem;
}

.fecharMdResultado {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 4rem;
  color: white;
  background-color: transparent;
  border: 0;
}

.historicoBatalha {
  width: 35rem;
  height: 22rem;
  background-image: url("../../assets/backgrounds/displayMadeira2.png");
  background-size: 100% 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1.1rem 1.5rem 1.2rem 1.6rem;
}

.historicoBatalha h3 {
  width: 13rem;
  height: 4rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  background-image: url("../../assets/backgrounds/tabuaLabel.png");
  background-size: 100% 100%;
  box-sizing: content-box;
  position: absolute;
  bottom: 21rem;
}

.bgConteinerHist {
  height: 100%;
  background-image: url("../../assets/backgrounds/papelLabelPregos.png");
  background-size: 110% 110%;
  background-position: center;
}

.conteinerHistorico {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-height: 19.7rem;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 2rem;
}

.regHistEsq,
.regHistDir {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  font-size: 1.5rem;
  overflow-wrap: anywhere;
  background-size: 100% 100%;
}

.regHistEsq {
  color: white;
  background-image: url("../../assets/backgrounds/lblCouroReg.png");
}

.regHistDir {
  background-image: url("../../assets/backgrounds/lblPapiroReg.png");
}

.regHistEsq p,
.regHistDir p {
  flex: 1;
  margin: 0;
  text-align: left;
}

.regHistEsq img,
.regHistDir img {
  width: 5rem;
  height: 5rem;
}

.regHistEsq {
  align-self: flex-start;
  margin-right: 5rem;
  padding: 1rem 2rem 1rem 1.5rem;
}

.regHistEsq p {
  text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0), 0rem 0rem 0.5rem rgb(0, 0, 0),
    0rem 0rem 0.5rem rgb(0, 0, 0), 0rem 0rem 0.5rem rgb(0, 0, 0),
    0rem 0rem 0.5rem rgb(0, 0, 0), 0rem 0rem 0.5rem rgb(0, 0, 0);
}

.imgEsquerda {
  margin-right: 0.5rem;
  transform: scaleX(-1);
  border: 0.3rem solid rgb(0, 0, 0);
  box-shadow: 0 0 10px #000000, 0 0 20px #000000;
  border-radius: 50%;
}

.regHistDir {
  align-self: flex-end;
  margin-left: 5rem;
  padding: 1rem 1.5rem 1rem 2rem;
}

.regHistDir p {
  text-shadow: 0rem 0rem 0.5rem rgb(255, 255, 255),
    0rem 0rem 0.5rem rgb(255, 255, 255), 0rem 0rem 0.5rem rgb(255, 255, 255),
    0rem 0rem 0.5rem rgb(255, 255, 255), 0rem 0rem 0.5rem rgb(255, 255, 255),
    0rem 0rem 0.5rem rgb(255, 255, 255);
}

.imgDireita {
  margin-left: 0.5rem;
  border: 0.3rem solid rgb(255, 255, 255);
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  border-radius: 50%;
}
