.bgEscuroOff,
.bgEscuroOn {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  opacity: 0;
}

.bgEscuroOff {
  opacity: 0;
  visibility: hidden;
}

.bgEscuroOn {
  opacity: 1;
  visibility: visible;
}

.bgEscuroOn .modalResultado {
  animation: modalAparecendo 500ms ease-in-out forwards;
}

@keyframes modalAparecendo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modalResultado {
  width: 45rem;
  height: 55rem;
  background-image: linear-gradient(
      rgba(79, 81, 83, 0.3),
      rgba(79, 81, 83, 0.3)
    ),
    url("../../../assets/backgrounds/bgBatalhaMenor.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  border-radius: 1rem;

  text-align: center;
  font-family: "Fondamento", "fantasy";
  font-weight: lighter;

  /* Deixar a posição do butão 'sair' certa */
  position: relative;

  /* Pro conteúdo ficar organizado*/
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;

  padding: 2rem;

  transition: opacity 500s ease, visibility 500s ease;

  transform: scale(1.1);
}

.abasModalResultado {
  display: flex;
  gap: 1rem;
  width: 41rem;
}

.loadingResultado {
  color: white;
  margin-top: 20rem;
  font-size: 3rem;
}

.tituloResultado {
  width: 30rem;
  height: 5rem;
  margin-top: 1rem;
  color: yellow;
  font-size: 3rem;
  background-image: url("../../../assets/labels/lblTabua.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  text-shadow: 0rem 0rem 1rem black, 0rem 0rem 1rem black, 0rem 0rem 1rem black;
}

/* Container que contém o banner e o texto */
.area-banner-central {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  z-index: 20;
}

/* A Imagem do Banner */
.img-banner-final {
  width: 35rem;
  height: auto;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.8));
}

/* O Texto "Você perdeu..." / "Você venceu!" */
.texto-resultado-final {
  position: absolute;
  z-index: 100;

  /* TÉCNICA DE CENTRALIZAÇÃO PERFEITA */
  top: 60%;
  left: 49.2%;
  transform: translate(-50%, -50%);

  /* Estilos do texto */
  width: 70%;
  text-align: center;
  font-family: "Fondamento", "fantasy";
  font-size: 2.3rem;
  color: white;
  margin: 0;
  /* Remove margens que possam atrapalhar */

  /* Sombra forte para ler em cima do vermelho/azul */
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

/* (Mantenha os ajustes do histórico abaixo) */
.historicoBatalha {
  height: 18rem;
  bottom: 1rem;
}

.historicoBatalha h3 {
  bottom: 16rem;
}

.secaoVitorioso,
.secaoDerrotado {
  width: 90%;
  margin-left: 1.5rem;
}

.secaoDerrotado {
  margin-top: 1rem;
}

.secaoVitorioso div div p,
.secaoDerrotado div div p,
.statusJogadorVencedor,
.statusJogadorDerrotado,
.resultNomeJogador {
  font-size: 2.5rem;
  color: white;
  align-self: center;
  background-image: url();
  text-shadow: 0rem 0rem 1rem black, 0rem 0rem 1rem black, 0rem 0rem 1rem black;
}

.statusJogadorVencedor {
  color: rgb(0, 255, 0);
}

.statusJogadorDerrotado {
  color: red;
}

.resultNomeJogador {
  color: rgb(117, 172, 255);
}

.brasaoResultado img {
  width: 5rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.brasaoResultado .infoRatoResultBatalha {
  display: flex;
  flex-direction: row;
  background-image: url("../../../ssets/labels/lblPapelAmarelado.png");
  background-size: 100% 100%;
}

.fecharMdResultado {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 4rem;
  color: white;
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.historicoBatalha {
  width: 42rem;
  height: 50rem;
  background-image: url("../../../assets/displays/displayMadeira2.png");
  background-size: 100% 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem 2.5rem 2rem;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.8));
}

.historicoBatalha h3 {
  width: 20rem;
  height: 3.5rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  background-image: url("../../../assets/labels/lblTabua.png");
  background-size: 100% 100%;
  position: absolute;
  top: -29rem;
    z-index: 1;
}

.bgConteinerHist {
  height: 100%;
  background-image: url("../../../assets/labels/lblPapelPregos.png");
  background-size: 110% 110%;
  background-position: center;
  border-radius: 0.5rem;
}

.conteinerHistorico {
  height: 100%;
  max-height: 42rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 1rem;
}

.regHistEsq,
.regHistDir {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  font-size: 1.5rem;
  background-size: 100% 100%;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.8));
}

.fotoJogadorERegistro {
  display: flex;
  align-items: center;
}

.nomeJogador1 {
  align-self: flex-start;
  margin-left: 1rem;
}

.nomeJogador2 {
  align-self: flex-end;
  margin-right: 1rem;
}

.regHistEsq {
  color: white;
  background-image: url("../../../assets/labels/lblCouroReg.png");
}

.regHistDir {
  background-image: url("../../../assets/labels/lblPapiroReg.png");
}

.regRound {
  text-align: justify;
}

.regHistEsq img,
.regHistDir img {
  width: 5rem;
  height: 5rem;
}

.regHistEsq {
  align-self: flex-start;
  margin-right: 5rem;
  padding: 1rem 2rem 1rem 1.5rem;
}

.regHistEsq p {
  text-shadow: 0rem 0rem 0.5rem rgb(0, 0, 0), 0rem 0rem 0.5rem rgb(0, 0, 0),
    0rem 0rem 0.5rem rgb(0, 0, 0), 0rem 0rem 0.5rem rgb(0, 0, 0),
    0rem 0rem 0.5rem rgb(0, 0, 0), 0rem 0rem 0.5rem rgb(0, 0, 0);
}

.imgEsquerda {
  margin-right: 0.5rem;
  border: 0.3rem solid rgb(0, 0, 0);
  box-shadow: 0 0 10px #000000, 0 0 20px #000000;
  border-radius: 50%;
}

.regHistDir {
  align-self: flex-end;
  margin-left: 5rem;
  padding: 1rem 1.5rem 1rem 2rem;
}

.regHistDir p {
  text-shadow: 0rem 0rem 0.5rem rgb(255, 255, 255),
    0rem 0rem 0.5rem rgb(255, 255, 255), 0rem 0rem 0.5rem rgb(255, 255, 255),
    0rem 0rem 0.5rem rgb(255, 255, 255), 0rem 0rem 0.5rem rgb(255, 255, 255),
    0rem 0rem 0.5rem rgb(255, 255, 255);
}

.imgDireita {
  margin-left: 0.5rem;
  border: 0.3rem solid rgb(255, 255, 255);
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  border-radius: 50%;
}

.regFinalRound {
  width: 35rem;
  height: 30rem;
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  align-self: center;
  border-radius: 3rem 1rem 3rem 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.8));
}

.fotoEVidaRatos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.8));
}

.ratoJ1,
.ratoJ2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.barraDeVida {
  width: 12rem;
  height: 2rem;
  background-color: white;
  border: 0.3rem solid;
  border-radius: 0.5rem;
  overflow: hidden;
}

.qVidaRatoJ1,
.qVidaRatoJ2 {
  height: 100%;
  background-color: green;
  border: none;
}

.ratoJ1 p,
.ratoJ2 p {
  font-size: 1.2rem;
}

.ratoJ1 img,
.ratoJ2 img {
  width: 5rem;
}

.ratoJ1 img {
  transform: scaleX(-1);
}

/* ----------------------------------------- */
/* Medias Query para tratar altura e largura */
/* ----------------------------------------- */
@media (max-height: 970px) or (max-width: 800px) {
  .modalResultado {
    transform: scale(0.9);
  }
}

@media (max-height: 800px) or (max-width: 660px) {
  .modalResultado {
    transform: scale(0.8);
  }
}

@media (max-height: 740px) or (max-width: 590px) {
  .modalResultado {
    transform: scale(0.7);
  }
}

@media (max-height: 630px) or (max-width: 510px) {
  .modalResultado {
    transform: scale(0.6);
  }
}

/* -------------------------------- */
/* Medias Query para tratar largura */
/* ================================ */
@media (max-width: 440px) {
  .modalResultado {
    transform: scale(0.5);
  }
}

@media (max-width: 370px) {
  .modalResultado {
    transform: scale(0.4);
  }
}
