.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5em;       
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Fondamento', 'cursive';
    z-index: 1;
}

.infoHeader {
    display: flex;
    align-items: center;
}

.infoHeader h1 {
    margin-left: 1.5rem;
    font-size: 22px;
    cursor: pointer;
}

.infoHeader img {
    height: 4rem;
    margin-left: 2rem;
    cursor: pointer;
}

.quantidadeMoedas{
    position: absolute;
    top: 9rem;
    left: 1rem;
    min-width: 7rem;
    max-width: 10rem;
    height: 5rem;
    background-color: orange;
    border-radius: 2.4rem 1rem 1rem 2.4rem;
    margin: 0rem 0rem 0rem 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.quantidadeMoedas img{
    height: 5rem;
    margin: 0rem 0rem 0rem 0rem;
}

.quantidadeMoedas h3{
    margin-left: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    font-size: 2rem;
}

.logoColiseu{
    width: 9rem;
    height: 10rem;
    margin-right: 2rem;
    cursor: pointer;
}