.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;       
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Fondamento', 'cursive';
    z-index: 1;
}

.infoHeader {
    display: flex;
    align-items: center;
}

.infoHeader h1 {
    margin-left: 1.5rem;
    font-size: 30px;
    cursor: pointer;
}

.infoHeader img {
    height: 6rem;
    margin-left: 2rem;
    cursor: pointer;
}

.nomeEMoedas{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quantidadeMoedas{
    min-width: 5rem;
    max-width: 8rem;
    height: 3rem;
    background-color: orange;
    border-radius: 28px;
    margin: 0rem 0rem 0rem 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.quantidadeMoedas img{
    height: 3rem;
    margin: 0rem 0rem 0rem 0rem;
}

.quantidadeMoedas h3{
    margin-left: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
}

.logoColiseu{
    width: 13rem;
    height: 13rem;
    margin-right: 2rem;
    cursor: pointer;
}