.btnIniciarCriacao {
  position: absolute;
  top: 0.8rem;
  width: 15rem;
  height: 7rem;
  background-image: url("../../../assets/buttons/btnParticiparBatalha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

.btnIniciarCriacao BUTTON:active {
  transform: scale(0.97);
}

.btnGerenciar {
  width: 20rem;
  height: 3.5rem;
  background-image: url("../../../assets/buttons/btnVerHistorico.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

.btnGerenciar:active {
  transform: scale(0.97);
}
