.subTituloLoja {
  width: 35rem;
  height: 6rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  background-image: url("../../../../assets/labels/lblPapelTitulo.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.3rem;
  color: black;
}

.pacotesMoedas {
  width: 50rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.pacote {
  width: 40rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../../../assets/labels/lblPapelPacoteMoeda.png");
  background-size: 100% 100%;
  cursor: pointer;
}
.pacote:hover {
  transform: scale(1.10);
  transition: transform 0.3s ease;
}

.pacote p {
  align-self: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.pacote img {
  width: 12rem;
  align-items: center;
}

.infoPacote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoPacote img {
  width: 13rem;
  padding-bottom: 1rem;
}

.valor {
  width: 100%;
  height: 3rem;
  background-color: rgba(61, 35, 35);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.2rem;
  border-color: black;
  border-style: solid;
  font-size: 2rem;
}

/* -------------------------------- */
/* Medias Query para tratar largura */
/* -------------------------------- */
@media (max-width: 1022px) {
  .pacotesMoedas {
    flex-direction: column;
    margin-top: 15rem;
    height: 31rem;
    overflow-y: auto;
    justify-content: flex-start;
  }
  .pacote {
    width: 15rem;
  }
}

@media (max-width: 690px) {
  .subTituloLoja {
    top: 0.5rem;
    width: 20rem;
    height: 8rem;
  }
}


/* ----------------------------------------- */
/* Medias Query para tratar largura e altura */
/* ----------------------------------------- */
@media (max-width: 1280px) and (max-height: 620px) {
  .subTituloLoja {
    top: 0.4rem;
    width: 30rem;
    height: 4.7rem;
    font-size: 2rem;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .subTituloLoja {
    top: 0.4rem;
    width: 13rem;
    height: 5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .pacotesMoedas {
    flex-direction: column;
    margin-top: 7rem;
    height: 18rem;
    gap: 1rem;
    overflow-y: auto;
    justify-content: flex-start;
  }
  .pacote {
    width: 10rem;
  }
  .pacote img {
    width: 8rem;
  }
}
