.subTituloLoja {
  width: 35rem;
  height: 6rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  background-image: url("../../../../assets/labels/lblPapelTitulo.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.3rem;
  color: black;
}

.pacotesMoedas {
  width: 50rem;
  height: 10rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  transform-origin: top;
}

.pacote {
  width: 40rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../../../assets/labels/lblPapelPacoteMoeda.png");
  background-size: 100% 100%;
  cursor: pointer;
}

.pacote:hover {
  transform: scale(1.10);
  transition: transform 0.3s ease;
}

.pacote p {
  align-self: center;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.pacote img {
  width: 12rem;
  align-items: center;
}

.infoPacote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoPacote img {
  width: 13rem;
  padding-bottom: 1rem;
}

.valor {
  width: 100%;
  height: 3rem;
  background-color: rgba(61, 35, 35);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0.2rem;
  border-color: black;
  border-style: solid;
  font-size: 2rem;
}

/* ----------------------------------------- */
/* Medias Query para tratar largura e altura */
/* ----------------------------------------- */
@media ((max-height: 630px) or (max-width: 1030px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.9);
  }
}

@media ((max-height: 610px) or (max-width: 915px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.8);
  }
}

@media ((max-height: 585px) or (max-width: 815px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.7);
  }
}

@media ((max-height: 565px) or (max-width: 715px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.6);
  }
}

@media ((max-height: 545px) or (max-width: 615px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.5);
  }
}

@media ((max-height: 525px) or (max-width: 515px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.4);
  }
}

@media ((max-height: 505px) or (max-width: 415px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.3);
  }
}

@media ((max-height: 480px) or (max-width: 315px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.2);
  }
}

@media ((max-height: 460px) or (max-width: 215px)) and (max-height: 760px) {
  .pacotesMoedas {
    transform: scale(0.1);
  }
}

/* -------------------------------- */
/* Medias Query para tratar largura */
/* -------------------------------- */
@media (max-width : 1030px) and (min-height: 760px) {
  .pacotesMoedas {
    flex-direction: column;
    margin-top: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    height: 24rem;
    scrollbar-width: hidden;
    overflow-y: auto;
    justify-content: flex-start;
  }

  .pacote {
    width: 15rem;
  }
}



@media (max-height: 760px) and (max-width: 380px) {
  .pacotesMoedas {
    height: 20rem;
  }
}

@media (max-height: 667px) and (max-width: 375px) {
  .pacotesMoedas {
    height: 16rem;
  }
}

@media (max-width: 415px) and (min-height: 760px) {
  .pacotesMoedas {
    transform: scale(1);
  }
}

@media (min-height: 760px) and (max-width: 305px) {
  .pacotesMoedas {
    transform: scale(0.9);
  }
}

@media (min-height: 760px) and (max-width: 300px) {
  .pacotesMoedas {
    transform: scale(0.8);
  }
}

@media (min-height: 760px) and (max-width: 270px) {
  .pacotesMoedas {
    transform: scale(0.7);
  }
}

@media (min-height: 760px) and (max-width: 230px) {
  .pacotesMoedas {
    transform: scale(0.6);
  }
}

@media (min-height: 760px) and (max-width: 200px) {
  .pacotesMoedas {
    transform: scale(0.5);
  }
}

@media (min-height: 760px) and (max-width: 170px) {
  .pacotesMoedas {
    transform: scale(0.4);
  }
}

@media (min-height: 760px) and (max-width: 135px) {
  .pacotesMoedas {
    transform: scale(0.3);
  }
}

@media (min-height: 760px) and (max-width: 100px) {
  .pacotesMoedas {
    transform: scale(0.2);
  }
}

@media (min-height: 760px) and (max-width: 65px) {
  .pacotesMoedas {
    transform: scale(0.1);
  }
}

@media (max-width: 690px) {
  .subTituloLoja {
    width: 20rem;
    height: 6rem;
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  .subTituloLoja {
    width: 12rem;
    height: 4rem;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 250px) {
  .subTituloLoja {
    width: 8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 170px) {
  .subTituloLoja {
    width: 5rem;
    height: 3rem;
    margin-top: 2.5rem;
    font-size: 0.5rem;
  }
}