.bgModal,
.bgModalAtivo {
  /* Torna o overlay de tela inteira */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* Serve pra deixar o fundo semi-transparente e preto */
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  z-index: 1000;
  /* Deixar acima dos componentes */
}

.bgModal {
  opacity: 0;
  visibility: hidden;
}

.bgModalAtivo {
  opacity: 1;
  visibility: visible;
}

@keyframes modalDesaparecendo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bgModalAtivo .containerModal {
  animation: modalAparecendo 500ms ease-in-out forwards;
}

@keyframes modalAparecendo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerModal {
  background-image: linear-gradient(
      rgba(79, 81, 83, 0.3),
      rgba(79, 81, 83, 0.3)
    ),
    url("../../../../../assets/backgrounds/bgLogin.png");
  background-size: cover;
  border-radius: 1rem;
  flex-direction: column;
  width: 30rem;
  height: 40rem;
  text-align: center;
  font-family: "Fondamento", "fantasy";
  font-weight: lighter;

  /* Deixar a posição do butão 'sair' certa */
  position: relative;

  /* Pro conteúdo ficar organizado*/
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.titulo {
  min-height: 3.5rem;
  width: 20rem;
  padding: auto;
  margin: 1.5rem 5rem;
  background-image: url("../../../../../assets/labels/lblTabua.png");
  background-size: cover;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

button {
  cursor: pointer;
  user-select: none;
  font-family: "Fondamento", "fantasy";
}

div {
  user-select: none;
}

.sair {
  background-color: transparent;
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  font-size: 3.5rem;
  color: white;
  border: none;
}

.erro {
  color: white;
}

/* ----------------------------------------- */
/* Medias Query para tratar altura e largura */
/* ----------------------------------------- */

/* ============================================= */
/* Modal do rato */
@media (max-height: 645px) or (max-width: 490px) {
  .containerModal {
    transform: scale(0.9);
  }
}

@media (max-height: 620px) or (max-width: 460px) {
  .containerModal {
    transform: scale(0.8);
  }
}

@media (max-height: 550px) or (max-width: 410px) {
  .containerModal {
    transform: scale(0.7);
  }
}


/* -------------------------------- */
/* Medias Query para tratar largura */
/* -------------------------------- */

/* ============================================= */
/* Modal do rato */
@media (max-width: 360px){
  .containerModal {
    transform: scale(0.6);
  }
}

@media (max-width: 310px){
  .containerModal {
    transform: scale(0.5);
  }
}