.titulo {
  min-height: 3.5rem;
  width: 20rem;
  padding: auto;
  margin: 1.5rem 5rem;
  background-image: url("../../../../../assets/labels/lblTabua.png");
  background-size: cover;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

.imagemENome {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  margin: 1rem 0rem 1rem 0rem;
}

.imagemENome img {
  width: 8rem;
  height: 8rem;
  margin: 0;
}

.imagemENome p {
  width: 19rem;
  height: 6rem;
  margin: 0;
  background-image: url("../../../assets/labels/lblPedra.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: wheat;
}

.infoGeral {
  width: 95%;
  min-height: 42%;
  background-image: url("../../../assets/displays/displayMadeira2.png");
  background-size: 100% 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 1rem 0rem 1rem 0rem;
}

.conteinerTitusEstHabil {
  width: 100%;
  min-height: 100%;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  box-sizing: border-box;
}

.titusEstHabil {
  width: 100%;
  min-height: 2.2rem;
  background-image: url("../../../../assets/labels/lblTabua.png");
  background-size: 100% 100%;
  margin: 0rem 0rem 0.5rem 0rem;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixaEstatisticas,
.caixaHabilidadeEsc {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
}

.caixaHabilidadeEsc {
  margin-right: 0.5rem;
}

.caixaEstatisticas {
  margin-left: 0.5rem;
}

.estatisticas {
  background-image: url("../../../assets/labels/lblPapelPregos.png");
  background-size: 100% 100%;
  width: 80%;
  min-height: 8rem;
  margin: 0;
  display: flex;
  text-align: left;
  align-items: center;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 1rem;
  box-sizing: border-box;
}

.descHabilEsc {
  width: 95%;
  height: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../../../assets/labels/lblPapelPregos.png");
  background-size: 100% 100%;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0rem 0rem 0rem 0rem;
  box-sizing: border-box;
}
