.titulo {
  min-height: 3.5rem;
  width: 20rem;
  padding: auto;
  margin: 1.5rem 5rem;
  background-image: url("../../../../../assets/labels/lblTabua.png");
  background-size: cover;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

.opcoesClasse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.opcoesClasse button {
  background-image: url("../../../../../assets/labels/lblPapel.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 18rem;
  height: 4rem;
  margin: 0.7rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
}