*,
*::before,
*::after {
  font-family: "Fondamento", "fantasy";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.perfil-container {
  background-image: linear-gradient(
      rgba(55, 51, 51, 0.5),
      rgba(55, 51, 51, 0.5)
    ),
    url("../../assets/backgrounds/bgHome.png");
  background-size: cover;
  /* Essa maravilha faz a imagem cobrir todo o site */
  background-position: center;
  /* Deixa a posição da imagem de fundo no centro */
  background-attachment: fixed;
  /* Faz ela ficar presa */

  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  /* Isso aqui serve pra esconder o scroll */
  overflow: hidden;
}

.conteudo-perfil {
  width: 100%;
  max-width: 115rem;
  min-height: 60rem;
  background-image: url("../../assets/backgrounds/displayMadeira.png");
  background-size: 100% 100%;

  display: flex;
  align-items: center;

  /* Isso aqui serve pra esconder o scroll */
  overflow: hidden;

  flex-direction: column;
  position: relative;
}

.opcoesPerfil {
  width: 60rem;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 10rem 0rem 2rem 0rem;
}

.btnOpcao,
.opcaoAtiva {
  width: 80%;
  flex: 1;
  background-image: url("../../assets/backgrounds/tabuaLabel.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 2rem;
  color: white;
  height: 100%;
  position: relative;
}

.opcaoAtiva {
  opacity: 1;
  pointer-events: none;
  transition: background-image 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.opcoes button:active {
  transform: scale(0.97);
}

.dados {
  width: 30rem;
  height: 22rem;
  margin-top: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.dados p {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  color: white;
}

.dados input {
  width: 100%;
  height: 30rem;
  font-size: 1.5rem;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
  outline: none;
}

.botaoSalvar {
  position: absolute;
  height: 6rem;
  top: 1.1rem;
  font-family: "Fondamento", "fantasy";
  font-size: 1.8rem;
  font-weight: 1000;
  background-color: #ffae52;
  padding: 0.3rem 2rem;
  border: 0.15rem solid #000000;
  border-radius: 0.8rem;
  cursor: pointer;
}

.historicoBatalhas {
  width: 45%;
  height: 28rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.batalhaFeita {
  width: 87%;
  height: 12rem;
  background-image: url("../../assets/backgrounds/papelLabelBatalha.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 1rem 3rem 1rem 2rem;
  font-size: 1.3rem;
}

.batalhaFeita p {
  margin-bottom: 1rem;
}

.batalhaFeita p + p {
  margin: 0;
}

.batalhaFeita img {
  width: 5rem;
  margin-right: 1rem;
}

.infoBatalhaFeita {
  width: 40rem;
  margin-right: 6rem;
}

.opcoesBatalhaFeita {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.opcoesBatalhaFeita p {
  width: 12rem;
  height: 3.5rem;
  background-image: url("../../assets/buttons/btnParticiparBatalha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.opcoesBatalhaFeita button {
  width: 12rem;
  height: 3.5rem;
  background-image: url("../../assets/buttons/btnVerHistorico.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

.opcoesBatalhaFeita button:active {
  transform: scale(0.97);
}

@media (max-width: 970px) {
  .opcoesPerfil {
    width: 90%;
  }

  .btnOpcao,
  .opcaoAtiva {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .dados {
    width: 25rem;
    height: 22rem;
    margin-top: 15rem;
  }
}

@media (max-width: 690px) {
  .conteudo-principal {
    width: 90%;
    min-height: 100%;
    background-size: 100% 100%;
    overflow: visible;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .opcoesPerfil {
    width: 90%;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .btnOpcao,
  .opcaoAtiva {
    width: 20%;
    height: 60%;
    font-size: 1rem;
  }

  .dados {
    margin-top: 8rem;
    height: 18rem;
    width: 18rem;
  }
}
