.caixa {
  height: auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 8rem;
  border: 2px solid #000;
  padding: 3rem 0rem 3rem 0rem;
  gap:2rem
}

.caixa h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin:0;
  color: #000;
}

.acesso {
  width: 80%;
  background-color: #f7a046;
  padding: 0.75rem 1rem;
  border: 2px solid #000;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;

  transition: background-color 0.2s;
}

@media (max-width: 600px) {
  .caixa {
    width: 300px;
  }
  .caixa h3 {
    text-align: center;
  }
}
