.logoEAcesso {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa {
  height: auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 8rem;
  border: 2px solid #000;
  padding: 3rem 0rem 3rem 0rem;
  gap: 2rem
}

.caixa h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  color: #000;
}

.acesso {
  width: 80%;
  background-color: #f7a046;
  padding: 0.75rem 1rem;
  border: 2px solid #000;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;

  transition: background-color 0.2s;
}

/* ----------------------------------------- */
/* Medias Query para tratar largura e altura */
/* ----------------------------------------- */
@media (max-height: 800px) or (max-width: 600px) {
  .logoEAcesso {
    transform: scale(0.9);
  }
}

@media (max-height: 720px) or (max-width: 500px) {
  .logoEAcesso {
    transform: scale(0.8);
  }
}

@media (max-height: 650px) or (max-width: 460px) {
  .logoEAcesso {
    transform: scale(0.7);
  }
}

@media (max-height: 550px) or (max-width: 430px) {
  .logoEAcesso {
    transform: scale(0.6);
  }
}

@media (max-height: 460px) or (max-width: 350px) {
  .logoEAcesso {
    transform: scale(0.5);
  }
}

@media (max-height: 380px) or (max-width: 300px) {
  .logoEAcesso {
    transform: scale(0.4);
  }
}