.acesso-container {
  background-image: url(/src/assets/Backgrounds/bgLogin.png);
  background-size: cover;
  /* Essa maravilha faz a imagem cobrir todo o site */
  background-position: center;
  /* Deixa a posição da imagem de fundo no centro */
  background-attachment: fixed;
  /* Faz ela ficar presa */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  /* Isso aqui serve pra esconder o scroll */
  position: relative;
}

.logo {
  width: 30rem;
  height: auto;
}

/* -------------------------------- */
/* Medias Query para tratar altura */
/* -------------------------------- */
/* @media (max-height: 800px) {
  .logo {
    transform: translateX(-50%) scale(1.4);
  }
}

@media (max-height: 685px) {
  .logo {
    transform: translateX(-50%) scale(1.2);
  }
}

@media (max-height: 650px) {
  .logo {
    transform: translateX(-50%) scale(1);
  }
}

@media (max-height: 620px) {
  .logo {
    transform: translateX(-50%) scale(0.8);
  }
}

@media (max-height: 365px) {
  .logo {
    transform: translateX(-50%) scale(0.6);
  }
} */


/* -------------------------------- */
/* Medias Query para tratar largura */
/* -------------------------------- */
/* @media (max-width: 600px) {
  .logo {
    transform: translateX(-50%) scale(1.4);
  }
}

@media (max-width: 500px) {
  .logo {
    transform: translateX(-50%) scale(1.2);
  }
}

@media (max-width: 400px) {
  .logo {
    transform: translateX(-50%) scale(1.0);
  }
} */