.opcoesAbaBatalha {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8rem;
}

.btnOpcaoBatalhas,
.btnOpcaoBatalhasAtivo {
  width: 18rem;
  height: 8rem;
  background-color: transparent;
  background-image: url("../../../../assets/buttons/btnOpcaoBatalhas.png");
  background-size: 100% 100%;
  border: none;
  opacity: 0.5;
  font-size: 3.5rem;
  font-weight: 1000;
}

.btnOpcaoBatalhasAtivo {
  background-image: url("../../../../assets/buttons/btnOpcaoBatalhasAtivado.png");
  opacity: 1;
  pointer-events: none;
  transition: background-image 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.opcoesAbaBatalha button:active {
  transform: scale(0.97);
}

.btnIniciarTreinamento {
  width: 13rem;
  height: 5rem;
  color: white;
  background-color: #ffae52;
  margin-top: 12rem;
  border-radius: 20px;
  border: 3px solid #000;
  font-size: 2.5rem;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

.addBatalha {
  width: 20rem;
  position: sticky;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.listaBatalhas {
  width: 50rem;
  height: 40rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  transform: scale(0.9);
}

.batalha {
  width: 100%;
  height: 12rem;
  background-image: url("../../../../assets/labels/lblPapelBatalha.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1.5rem;
}

.batalha p {
  margin-bottom: 1rem;
}

.batalha p + p {
  margin: 0;
}

.batalha img {
  width: 7rem;
  margin-right: 1rem;
}

.infoBatalha {
  width: 40rem;
  margin-right: 6rem;
}

.opcoesBatalha {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.opcoesBatalha button,
.btnSairBatalha button {
  width: 10rem;
  height: 3.5rem;
  background-image: url("../../../../assets/buttons/btnParticiparBatalha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

.btnSairBatalha button {
  background-image: url("../../../../assets/buttons/btnSairBatalha.png");
}

.opcoesBatalha button:active {
  transform: scale(0.97);
}

/* ------------------------------- */
/* Medias Query para tratar altura */
/* ------------------------------- */
@media (max-height: 1045px) {
  .listaBatalhas {
    position: absolute;
    top: 14rem;
    transform: scale(0.8);
  }
}

@media (max-height: 985px) {
  .listaBatalhas {
    position: absolute;
    top: 12rem;
    transform: scale(0.7);
  }
}

@media (max-height: 920px) {
  .listaBatalhas {
    position: absolute;
    top: 10rem;
    transform: scale(0.6);
  }
}

@media (max-height: 855px) {
  .listaBatalhas {
    position: absolute;
    top: 8rem;
    transform: scale(0.5);
  }
}

/* ----------------------------------------- */
/* Medias Query para tratar altura e largura */
/* ----------------------------------------- */
@media (max-width: 1280px) and (max-height: 920px) {
  .listaBatalhas {
    margin-top: 6rem;
    transform: scale(0.7);
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .listaBatalhas {
    margin-top: 0;
    transform: scale(0.3);
    height: 65rem;
    position: absolute;
    top: -16.5rem;
    font-size: 1.3rem;
  }
  .batalha {
    font-size: 1.8rem;
  }
  .infoBatalha {
    margin-right: 1rem;
  }
}
