.opcoesAbaBatalha {
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 8rem;
}

.btnOpcaoBatalhas,
.btnOpcaoBatalhasAtivo {
  width: 16rem;
  height: 6rem;
  background-color: transparent;
  background-image: url("../../../../assets/buttons/btnOpcaoBatalhas.png");
  background-size: 100% 100%;
  border: none;
  opacity: 0.5;
  font-size: 3.5rem;
  font-weight: 1000;
}

.btnOpcaoBatalhasAtivo {
  background-image: url("../../../../assets/buttons/btnOpcaoBatalhasAtivado.png");
  opacity: 1;
  pointer-events: none;
  transition: background-image 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.opcoesAbaBatalha button:active {
  transform: scale(0.97);
}

.botaoBotELista {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top;
}

.btnBatalhaComBot {
  width: 13rem;
  height: 5rem;
  color: white;
  background-color: #ffae52;
  border-radius: 20px;
  border: 3px solid #000;
  font-size: 1.5rem;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

.addBatalha {
  width: 20rem;
  position: sticky;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.nenhumaInscricao {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}


.listaBatalhas {
  width: 50rem;
  height: 35rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  transform-origin: top;
  transform: scale(0.8);
}

.batalha {
  width: 50rem;
  height: 14rem;
  background-image: url("../../../../assets/labels/lblPapelBatalha.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 2rem 4rem 2rem 2rem;
  font-size: 1.5rem;
}

.batalha p {
  margin-bottom: 1rem;
}

.batalha p+p {
  margin: 0;
}

.batalha img {
  width: 7rem;
  margin-right: 1rem;
}

.infoBatalha {
  width: 40rem;
  margin-right: 6rem;
}

.opcoesBatalha {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.opcoesBatalha button,
.btnSairBatalha button {
  width: 10rem;
  height: 3.5rem;
  background-image: url("../../../../assets/buttons/btnParticiparBatalha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

.btnSairBatalha button {
  background-image: url("../../../../assets/buttons/btnSairBatalha.png");
}

.opcoesBatalha button:active {
  transform: scale(0.97);
}

/* ----------------------------------------- */
/* Medias Query para tratar altura e largura */
/* ----------------------------------------- */
@media (max-height: 880px) or (max-width: 790px) {
  .botaoBotELista {
    transform: scale(0.9);
  }
}

@media (max-height: 825px) or (max-width: 710px) {
  .botaoBotELista {
    transform: scale(0.8);
  }
}

@media (max-height: 770px) or (max-width: 630px) {
  .botaoBotELista {
    transform: scale(0.7);
  }
}

@media (max-height: 990px) {
  .btnIniciarTreinamento {
    margin-top: 11.5rem;
    transform: scale(0.8);
  }
  .listaBatalhasHome {
    top: 8.5rem;
    transform: scale(0.6);
  }
}

@media (max-height: 720px) or (max-width: 550px) {
  .botaoBotELista {
    transform: scale(0.6);
  }
  .listaBatalhasHome {
    top: 3rem;
    transform: scale(0.4);
  }
}

@media (max-height: 665px) or (max-width: 475px) {
  .botaoBotELista {
    transform: scale(0.5);
  }
}

@media (max-height: 620px) or (max-width: 405px) {
  .botaoBotELista {
    transform: scale(0.4);
  }
}

@media (max-height: 560px) or (max-width: 320px) {
  .botaoBotELista {
    transform: scale(0.3);
  }
}

@media (max-height: 510px) or (max-width: 240px) {
  .botaoBotELista {
    transform: scale(0.2);
  }
}

/* ============================================= */
/* Botões "Todas" e "Inscritas" */
@media (max-width: 830px) {
  .opcoesAbaBatalha {
    gap: 3rem;
  }

  .btnOpcaoBatalhas,
  .btnOpcaoBatalhasAtivo {
    width: 10rem;
    font-size: 2rem;
  }
}

@media (max-width: 460px) {
  .opcoesAbaBatalha {
    gap: 1rem;
  }

  .btnOpcaoBatalhas,
  .btnOpcaoBatalhasAtivo {
    width: 5rem;
    font-size: 1rem;
  }
}