.opcoesAbaBatalha {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8rem;
}

.btnOpcaoBatalhas,
.btnOpcaoBatalhasAtivo {
  width: 18rem;
  height: 9.5rem;
  background-color: transparent;
  background-image: url("../../../../assets/buttons/btnOpcaoBatalhas.png");
  background-size: 100% 100%;
  border: none;
  opacity: 0.5;
  font-size: 3.5rem;
  font-weight: 1000;
}

.btnOpcaoBatalhasAtivo {
  background-image: url("../../../../assets/buttons/btnOpcaoBatalhasAtivado.png");
  opacity: 1;
  pointer-events: none;
  transition: background-image 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.opcoesAbaBatalha button:active {
  transform: scale(0.97);
}

.addBatalha {
  width: 20rem;
  position: sticky;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.listaBatalhas {
  width: 55%;
  height: 40rem;
  margin-top: 13rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
}

.batalha {
  width: 87%;
  height: 12rem;
  background-image: url("../../../../assets/backgrounds/papelLabelBatalha.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  padding: 1rem 4rem 1rem 2rem;
  font-size: 1.5rem;
}

.batalha p {
  margin-bottom: 1rem;
}

.batalha p + p {
  margin: 0;
}

.batalha img {
  width: 7rem;
  margin-right: 1rem;
}

.infoBatalha {
  width: 40rem;
  margin-right: 6rem;
}

.opcoesBatalha {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.opcoesBatalha button {
  width: 10rem;
  height: 3.5rem;
  background-image: url("../../../../assets/buttons/btnParticiparBatalha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

.opcoesBatalha button:active {
  transform: scale(0.97);
}

@media (max-width: 1758px) {
  .batalha {
    font-size: 1.2rem;
  }
}

@media (max-width: 1540px) {
  .batalha {
    font-size: 1rem;
  }
}

@media (max-width: 970px) {
  .opcoesAbaBatalha {
    gap: 5rem;
  }
}

@media (max-width: 690px) {
  .opcoesAbaBatalha {
    top: 0.6rem;
    gap: 2rem;
  }
  .btnOpcaoBatalhas,
  .btnOpcaoBatalhasAtivo {
    width: 12rem;
    height: 8rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .opcoesAbaBatalha {
    top: 0.7rem;
    gap: 2rem;
  }
  .btnOpcaoBatalhas,
  .btnOpcaoBatalhasAtivo {
    width: 7rem;
    height: 4.5rem;
    font-size: 1.5rem;
  }
}
