.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Fondamento", "cursive";
  z-index: 1;
}

.infoHeader {
  display: flex;
  align-items: center;
}

.infoHeader h1 {
  margin-left: 1.5rem;
  font-size: 22px;
  cursor: pointer;
}

.fotoJogador {
  height: 4rem;
  margin-left: 2rem;
  cursor: pointer;
}

.quantidadeMoedas {
  position: absolute;
  top: 6rem;
  left: 1rem;
  min-width: 7rem;
  max-width: 10rem;
  height: 3.5rem;
  background-color: orange;
  border-radius: 2.4rem 1rem 1rem 2.4rem;
  margin: 0rem 0rem 0rem 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.quantidadeMoedas img {
  height: 3.5rem;
  margin: 0rem 0rem 0rem 0rem;
}

.quantidadeMoedas h3 {
  margin-left: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  font-size: 2rem;
}

.logoColiseu {
  width: 9rem;
  height: 10rem;
  margin-right: 2rem;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .infoHeader h1 {
    margin-bottom: 2rem;
  }

  .quantidadeMoedas {
    top: 2.4rem;
    left: 6.5rem;
    min-width: 4rem;
    height: 2rem;
  }

  .quantidadeMoedas img {
    height: 2rem;
  }

  .quantidadeMoedas h3 {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .fotoJogador {
    margin-left: 0.5rem;
  }

  .infoHeader h1 {
    margin-left: 0.5rem;
  }

  .quantidadeMoedas {
    left: 4rem;
  }

  .logoColiseu {
    margin-right: 0.5rem;
  }
}

@media (max-width: 400px) {
  .fotoJogador {
    height: 3rem;
  }

  .infoHeader h1 {
    font-size: 1rem;
  }

  .quantidadeMoedas {
    left: 3rem;
  }

  .logoColiseu {
    width: 6rem;
    height: 3rem;
  }
}

@media (max-width: 320px) {
  .fotoJogador {
    height: 2.5rem;
  }

  .infoHeader h1 {
    font-size: 1rem;
  }

  .quantidadeMoedas {
    left: 2.5rem;
  }

  .logoColiseu {
    width: 4rem;
    height: 2rem;
  }
}

@media (max-width: 250px) {
  .fotoJogador {
    height: 2rem;
  }

  .infoHeader h1 {
    font-size: 0.8rem;
  }

  .quantidadeMoedas {
    left: 2rem;
  }

  .logoColiseu {
    width: 3rem;
    height: 1.5rem;
  }
}