.subTitulo {
  position: absolute;
  top: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 10rem;
  background-image: url("../../../../assets/labels/lblPapelTitulo.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  color: black;
}

.listaJogadores {
  width: 30rem;
  height: 25rem;
  margin-top: 17rem;
  color: black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 1rem;
  transform: scale(1.4);
}

.jogador {
  width: 100%;
  min-height: 5rem;
  background-image: url("../../../../assets/labels/lblPapelJogador.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem 1rem 1.3rem;
  font-size: 1.3rem;
}

.posicaoJogador p {
  width: 1rem;
  padding-right: 4rem;
}

.jogador img {
  width: 4rem;
}

.nomeEVitorias {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nomeJogador {
  margin-left: 1rem;
}

.vitorias {
  width: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ------------------------------- */
/* Medias Query para tratar altura */
/* ------------------------------- */
@media (max-height: 1080px) {
  .listaJogadores {
    margin-top: 19rem;
    transform: scale(1.5);
  }
}

@media (max-height: 1079px) {
  .listaJogadores {
    margin-top: 17rem;
    transform: scale(1.4);
  }
}

@media (max-height: 1025px) {
  .listaJogadores {
    margin-top: 15.5rem;
    transform: scale(1.3);
  }
}

@media (max-height: 990px) {
  .listaJogadores {
    margin-top: 14.5rem;
    transform: scale(1.2);
  }
}

@media (max-height: 955px) {
  .listaJogadores {
    margin-top: 13.5rem;
    transform: scale(1.1);
  }
}

@media (max-height: 910px) {
  .listaJogadores {
    margin-top: 12rem;
    transform: scale(1);
  }
}

@media (max-height: 865px) {
  .listaJogadores {
    margin-top: 10.5rem;
    transform: scale(0.9);
  }
}

/* -------------------------------- */
/* Medias Query para tratar largura */
/* -------------------------------- */

@media (max-width: 690px) {
  .subTitulo {
    top: 0.5rem;
    width: 20rem;
    height: 8rem;
    font-size: 2.3rem;
  }
}


/* ----------------------------------------- */
/* Medias Query para tratar altura e largura */
/* ----------------------------------------- */
@media (max-width: 1280px) and (max-height: 620px) {
  .subTitulo {
    top: 0.4rem;
    width: 18rem;
    height: 4.7rem;
    font-size: 2rem;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .subTitulo {
    top: 0.5rem;
    width: 10rem;
    height: 4.5rem;
    font-size: 1.2rem;
  }
  .listaJogadores {
    position: absolute;
    top: -3.5rem;
    margin-top: 0rem;
    height: 39rem;
    transform: scale(0.5);
  }
}
