.subTitulo {
  position: absolute;
  top: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 10rem;
  background-image: url("../../../../assets/labels/lblPapelTitulo.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  color: black;
}

.listaJogadores {
  width: 45%;
  height: 20rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 1rem;
}

.jogador {
  width: 65%;
  height: 5rem;
  background-image: url("../../../../assets/labels/lblPapelJogador.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem 1rem 1.3rem;
  font-size: 1.3rem;
}

.posicaoJogador p {
  width: 1rem;
  padding-right: 4rem;
}

.jogador img {
  width: 4rem;
}

.nomeEVitorias {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nomeJogador {
  margin-left: 1rem;
}

.vitorias {
  width: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 690px) {
  .subTitulo {
    top: 0.5rem;
    width: 20rem;
    height: 8rem;
    font-size: 2.3rem;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .subTitulo {
    top: 0.5rem;
    width: 10rem;
    height: 4.5rem;
    font-size: 1.2rem;
  }
}
