.subTitulo {
    position: absolute;
    top: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    height: 5rem;
    background-image: url("../../assets/buttons/btnOpcaoBatalhas.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaJogadores {
    width: 45%;
    height: 20rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.jogador {
    width: 87%;
    height: 12rem;
    background-image: url("../../assets/backgrounds/papelLabel.svg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding: 1rem 3rem 1rem 2rem;
    font-size: 1.3rem;
}

.jogador p {
    margin-bottom: 1rem;
}

.jogador p+p {
    margin: 0;
}


.jogador img{
    width: 5rem;
    margin-right: 1rem;
}

.infoJogador {
    width: 40rem;
    margin-right: 6rem;
}