.subTituloLoja{
    position: absolute;
    top: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 31rem;
    height: 5rem;
    background-image: url("../../assets/backgrounds/papelLblTitulo.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* Apagar isso na implementação da API */
.contagem{
    width: 5rem;
    height: 3rem;
    margin-bottom: 5rem;
    background-color: white;
}
/* ------------------------------------ */
/* ------------------------------------ */

.pacotesMoedas{
    width: 50rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.pacote{
    width: 40rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../../assets/backgrounds/papelLblMoeda.png");
    background-size: 100% 100%;
}

.pacote p{
    align-self: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.pacote img{
    width: 12rem;
    align-items: center;
}

.infoPacote{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoPacote img{
    width: 13rem;
    padding-bottom: 1rem;
}

.valor{
    width: 100%;
    height: 3rem;
    background-color: rgba(61,35,35);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.20rem;
    border-color: black;
    border-style: solid;
    font-size: 2rem;
}