.btnIniciarCriacao {
  position: absolute;
  top: 0.8rem;
  width: 20rem;
  height: 10rem;
  background-image: url("../../../assets/buttons/btnParticiparBatalha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

.btnIniciarCriacao BUTTON:active {
  transform: scale(0.97);
}

.listaBatalhasNormal {
  width: 50rem;
  height: 40rem;
  position: absolute;
  top: 11rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  transform: scale(0.9);
}

.btnGerenciar {
  width: 20rem;
  height: 5rem;
  background-image: url("../../../assets/buttons/btnVerHistorico.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: white;
}

.btnGerenciar:active {
  transform: scale(0.97);
}

/* ------------------------------- */
/* Medias Query para tratar altura */
/* ------------------------------- */
@media (max-height: 1045px) {
  .listaBatalhasNormal {
    top: 8rem;
    transform: scale(0.8);
  }
}

@media (max-height: 985px) {
  .listaBatalhasNormal {
    top: 6.5rem;
    transform: scale(0.7);
  }
}

@media (max-height: 920px) {
  .listaBatalhasNormal {
    top: 4.5rem;
    transform: scale(0.6);
  }
}

@media (max-height: 855px) {
  .listaBatalhasNormal {
    top: 2.5rem;
    transform: scale(0.5);
  }
}

/* -------------------------------- */
/* Medias Query para tratar largura */
/* -------------------------------- */
@media (max-width: 890px) {
  .listaBatalhasNormal {
    top: 6rem;
    transform: scale(0.7);
  }
}
@media (max-width: 690px) {
  .listaBatalhasNormal {
    top: 5rem;
    transform: scale(0.55);
  }
}
@media (max-width: 600px) {
  .listaBatalhasNormal {
    top: 3rem;
    transform: scale(0.45);
  }
}

/* ----------------------------------------- */
/* Medias Query para tratar altura e largura */
/* ----------------------------------------- */
@media (max-width: 375px) and (max-height: 667px) {
  .btnIniciarCriacao {
    top: 0.5rem;
    width: 10rem;
    height: 5rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 1280px) and (max-height: 920px) {
  .listaBatalhasNormal {
    margin-top: 6rem;
    transform: scale(0.7);
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .listaBatalhasNormal {
    margin-top: 0;
    transform: scale(0.3);
    height: 65rem;
    position: absolute;
    top: -16.5rem;
    font-size: 1.3rem;
  }
  .batalha {
    font-size: 1.8rem;
  }
  .infoBatalha {
    margin-right: 1rem;
  }
}
