.btnIniciarCriacao {
  width: 20rem;
  height: 8rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  background-image: url("../../../assets/buttons/btnParticiparBatalha.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
}

.btnIniciarCriacao BUTTON:active {
  transform: scale(0.97);
}

.listaBatalhasADM {
  width: 50rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  transform-origin: top;
  transform: scale(0.9);
}

.acoesBatalhaADM{
  display: flex;
  flex-direction: column;
  gap:1rem
}

.btnGerenciarBatalha,
.btnIniciarBatalha {
  width: 12rem;
  height: 4rem;
  background-image: url("../../../assets/buttons/btnVerHistorico.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

.btnIniciarBatalha{
  background-image: url("../../../assets/buttons/btnParticiparBatalha.png");
}

.btnGerenciar:active {
  transform: scale(0.97);
}


/* ----------------------------------------- */
/* Medias Query para tratar altura e largura */
/* ----------------------------------------- */
@media (max-width: 375px) and (max-height: 667px) {
  .btnIniciarCriacao {
    top: 0.5rem;
    width: 10rem;
    height: 5rem;
    font-size: 1.4rem;
  }
}