.addRato {
  width: 21rem;
  height: 6rem;
  margin-top: 1rem;
  color: white;
  background-color: #ffae52;
  border-radius: 20px;
  border: 3px solid #000;
  font-size: 2.5rem;
  text-shadow: 0 0 3px #000, 0 0 6px #000, 0 0 8px #000;
  z-index: 10;
}

.listaRatos {
  width: 50rem;
  height: 40rem;
  margin-top: 3rem;
  box-sizing: border-box;
  transform-origin: top;
}

.displayRato {
  min-width: 30%;
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../../assets/labels/lblPapelAmarelado.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0rem 1.5rem 0rem 2rem;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.imagem-rato-lista {
  width: 10rem;
  height: auto;
  max-width: 100%;
}

/* ------------------------------- */
/* Medias Query para tratar altura */
/* ------------------------------- */
@media (max-height: 980px) or (max-width: 1000px) {
  .listaRatos {
    transform: scale(0.9);
  }
}

@media (max-height: 910px) or (max-width: 910px) {
  .listaRatos {
    transform: scale(0.8);
  }
}

@media (max-height: 850px) or (max-width: 810px) {
  .listaRatos {
    transform: scale(0.7);
  }
}

@media (max-height: 795px) or (max-width: 710px) {
  .listaRatos {
    transform: scale(0.6);
  }
}

@media (max-height: 735px) or (max-width: 610px) {
  .listaRatos {
    transform: scale(0.5);
  }
}

@media (max-height: 675px) or (max-width: 510px) {
  .listaRatos {
    transform: scale(0.4);
  }
}

@media (max-height: 610px) or (max-width: 410px) {
  .listaRatos {
    transform: scale(0.3);
  }
}

@media (max-height: 550px) or (max-width: 310px) {
  .listaRatos {
    transform: scale(0.2);
  }
}

@media (max-height: 490px) or (max-width: 210px) {
  .listaRatos {
    transform: scale(0.1);
  }
}

@media (max-width: 510px) {
  .addRato {
    width: 10rem;
    font-size: 1.2rem;
  }
}


@media (max-width: 410px) {
  .addRato {
    width: 7rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
  }
}